html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Raleway";
}

.nav-bar {
  background-color: #C9F0FF;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.nav-bar-links {
  color: black;
  transition: 0.5s;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.nav-bar-links:hover {
  color: #03045E;
  font-size: 21px;
  text-decoration: underline;
}

.dynamic-header{
text-align: center; 
  width: 100%; 
  background-color: #7BB2D9;
  padding-top: 5px;
  padding-bottom: 5px;
}

.carousel {
   width:50%;
  display: flex;
margin: auto;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 40px;
 }
footer{
  background-color: #7BB2D9;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.about-me{
  margin-left: 200px;
  margin-top: 50px;
  background-color: #C9F0FF;
  padding: 65px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  padding: 50px;
  margin:50px;
  margin-left: 55px;
}

.work-description:hover{
  cursor:pointer;
  padding-top: 40px;
}

.work-link:hover{
  opacity:0.7;
  cursor:pointer;
  box-shadow: 2px 2px 5px black;
  transform: scale(1.05);
  transition: 0.8s;
}
.work-description{
  font-size: 18px;
  padding-top: 40px;
  transition: 0.2s;
}

.project-container{
  background-color: #C9F0FF;
  padding:10px; 
  padding-bottom: 20px; 
  display: flex; 
  justify-content: space-evenly;
  transition: 1s;
}
hr{
  width: 50%;
  border: none;
  height: 90px;
  background-color: #333; 
}
button{
  background-color:#C9F0FF ;
  color:black;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size:18px;
  transition: 0.2 ease-out;
}

button:hover{
  background-color: #7BB2D9;
}
